<div class="start_section1">
  <div class="startloginbutton">
    <a href="#" class="btn btn-success btn-lg active" role="button" aria-pressed="true">로그인하기</a>
  </div>
  <div class="startsimulbutton">
    <a href="/home/index" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">시뮬레이팅 하러가기</a>
  </div>
</div>
