.start_section1 {
  position: fixed;
  margin: auto;
  display: flex;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}

.startbutton {
  font-size: 3vw;
}

.startloginbutton {
  margin-right: 0.5rem;
}

.startsimulbutton {
  margin-left: 0.5rem;
}

div.startloginbutton > a.btnstartbutton {
  text-decoration: none;
}
